body {
    /*modifica los estilos de todo el cuerpo del sitio, excepto en etiquetas esplicitadas más abajo*/
    /*cambia el color del fondo, el uso de RGB(x,x,x) permite variar el color*/
    background-color: rgb(168, 168, 168);
    /*cambia la fuente usada en todo el cuerpo*/
    font-family: helvetica;
    /*configura los márgenes y cuanto espacio debe dejar en cada uno*/
    margin: auto;
    padding: 2%;
  }

h1 {
    /*modifica la presentación del encabezado principal, en este caso, permite centrarlo*/
/*    background-color: white;*/   
    text-align: center;
    /*hace agrega un color y aumenta el grosor del borde del elemento para hacerlo visible*/
    border: 2px solid black;
    /*reduce el espacio entre el encabezado y el resto del contenido*/
    margin-bottom: 5px;
  }

h2 {
    /*reduce el espacio entre el encabezado y el resto del contenido*/
    margin-top: 5px;
    margin-bottom: 8px;
}

article {
    /*permite modificar los article como bloques*/
 /*   background-color: white;  */   
    width: 70%;
    display: inline-block;
    border-color: black;
  }

hr {
    /*modifica el color y grosor de las lineas divisoras*/
    width: 25%;
    float: left;
    border: 1px solid black;
}

p {
    /*le agrega un márgen izquierdo al texto en experiencias*/
    margin-left: 11px;
}

li {
    /*modifica los elementos de las listas, como aumentar su tamaño de fuente*/
    font-size: large;
}

.imagen {
    /*permite modificar la presentación de la imagen, como su posición en la pantalla*/
    width: 16%;
    float: right;
}

