*{
  /*border: 1px solid black;*/
  box-sizing: border-box;
  }
body{
  font-family: Helvetica, Arial, sans-serif;
  background: #f5f6f7;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
  height: 50px;
  background-color: #1b1b32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}
main{
  margin-top: 48px;
}

div{
  width: 100%;
  text-align: center;
  color: #043d72;
}
.area-juego{
  width: 540px;
  height: auto;
  margin: 100px auto;
  background-color: #f7baba;
  border-radius: 10px;
}
h1{
  color: #f5f6f7;
  font-size: min(5vw, 1.2em);
  text-align: center;
  margin: auto;
}
.titulo{
  background-color: #1b1b32;
  border-radius: 10px 10px 0 0;
}
h2{
  color: #f5f6f7;
  font-size: min(5vw, 1.2em);
  text-align: center;
  margin: auto;
}
label{
  width: 100%;
  margin: 0 auto;
  margin-top: 1%;
  padding-left: 5%;
  display: flex;
  align-items: center;
  color: #043d72;
  font-weight: bold;
}
input[type="text"] {
  margin: 0 5px;
  border: 2px solid #1073d0;
  background-color: #f7f7f7;
  border-radius: 2px;
  color: #1073d0;
}
input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid orange;
  outline: none;
}
input[type="button"] {
  border: none;
  border-radius: 6px;
  background-color: #0761b6;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}
input[type="button"]:hover {
  background-color: #003669;
}
img:hover {
  margin:0;
  padding:0;
  border-radius: 22px;
  border: 2px solid orange;
}
div[class="jugar"] {
  width: 100%;
  margin: 0 auto;
  margin-top: 1%;
  display: flex;
  float: none;
}
input[name="jugar"] {
  width: 140px;
  margin: 0 auto;
  margin-bottom: 2%;
  outline: none;
  min-height: 50px;
  border: 2px solid #1073d0;
  padding: 0 auto;
  background-color: #0761b6;
  border-radius: 10px;
  color: #ffffff;
  font-size: 17px;
}
div[id="resultado"] {
  font-weight: bold;
}
div[class="contadores"] {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
/*.saludo{
  text-align: center;
  margin: auto;
}*/
.botones {
  width: 100%;
  margin: 2% 6%;
  display: flex;
  align-items: center;
  gap: 8px;
}